APP_DOMAIN="auth.testhost.int"
APP_PORT=8333
APP_BACKEND_PORT=8334
APP_URL="http://$APP_DOMAIN:$APP_PORT"
APP_BACKEND_URL="http://$APP_DOMAIN:$APP_BACKEND_PORT"
APP_CALLBACK_PATH="/callback"
APP_CALLBACK_URL="$APP_URL$APP_CALLBACK_PATH"
APP_NAME="casdoor-example"

MYSQL_USER="dbuser"
MYSQL_DATABASE="casdoor"
DB_PORT_EXT=3333

CASDOOR_VERSION="v1.297.0"
CASDOOR_PORT=8118
CASDOOR_URL="http://$APP_DOMAIN:$CASDOOR_PORT"
CASDOOR_COOKIE_PATH="./cookies.txt"
CASDOOR_APP_USER_NAME="testlocal"

KEYCLOAK_VERSION="6.0.1"
KEYCLOAK_PORT=8585
KEYCLOAK_REALM="Casdoor"
KEYCLOAK_ADMIN_USER="admin"
KEYCLOAK_USER_NAME="test"
KEYCLOAK_CLIENT_ID="$CASDOOR_URL/api/acs"
KEYCLOAK_URL="http://$APP_DOMAIN:$KEYCLOAK_PORT"
KEYCLOAK_ROOT_URL="$CASDOOR_URL"
KEYCLOAK_ADMIN_URL="$CASDOOR_URL/api/acs"
KEYCLOAK_REDIRECT_URI="*"

